PORT=5000
MONGO_URI=mongodb+srv://vehicle:Vehicle123@cluster0.XXXXXXX.mongodb.net/fuchsius?retryWrites=true&w=majority
JWT_SECRET=fuchsius_jwt_secret_key_2026
NODE_ENV=development
CLIENT_URL=http://localhost:3000
